<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" id="java_test_webapp">

	<description>Java agent integration test servlets</description>
	<display-name>Java agent integration test servlets</display-name>

	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestServlet2</servlet-name>
		<servlet-class>com.nr.test.servlet.TestServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet2</servlet-name>
		<url-pattern>/TestServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.DBServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBServlet</servlet-name>
		<url-pattern>/DBServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExternalCallServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.ExternalCallServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExternalCallServlet</servlet-name>
		<url-pattern>/ExternalCallServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewRelicApiServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.NewRelicApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewRelicApiServlet</servlet-name>
		<url-pattern>/NewRelicApiServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomTestServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.CustomTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomTestServlet</servlet-name>
		<url-pattern>/CustomTestServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Jetty6ContinuationsServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.Jetty6ContinuationsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jetty6ContinuationsServlet</servlet-name>
		<url-pattern>/Jetty6ContinuationsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Jetty7ContinuationsServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.Jetty7ContinuationsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jetty7ContinuationsServlet</servlet-name>
		<url-pattern>/Jetty7ContinuationsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WaitTimeServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.WaitTimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WaitTimeServlet</servlet-name>
		<url-pattern>/WaitTimeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HttpCommonsServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.HttpCommonsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HttpCommonsServlet</servlet-name>
		<url-pattern>/HttpCommonsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HttpUrlServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.HttpUrlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HttpUrlServlet</servlet-name>
		<url-pattern>/HttpUrlServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OneMethodInstrumentedServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.OneMethodInstrumentedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OneMethodInstrumentedServlet</servlet-name>
		<url-pattern>/OneMethodInstrumentedServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TwoMethodsInstrumentedServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.TwoMethodsInstrumentedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TwoMethodsInstrumentedServlet</servlet-name>
		<url-pattern>/TwoMethodsInstrumentedServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OneThreadServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.OneThreadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OneThreadServlet</servlet-name>
		<url-pattern>/OneThreadServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FutureServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.FutureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FutureServlet</servlet-name>
		<url-pattern>/FutureServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MultipleThreadsServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.MultipleThreadsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MultipleThreadsServlet</servlet-name>
		<url-pattern>/MultipleThreadsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SleepFourthSecServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.SleepFourthSecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SleepFourthSecServlet</servlet-name>
		<url-pattern>/SleepFourthSecServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SlowTransactionServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.SlowTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SlowTransactionServlet</servlet-name>
		<url-pattern>/SlowTransactionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SlowOverLimitTransServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.SlowOverLimitTransServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SlowOverLimitTransServlet</servlet-name>
		<url-pattern>/SlowOverLimitTransServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JMSServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.JMSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JMSServlet</servlet-name>
		<url-pattern>/JMSServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RumServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.RumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RumServlet</servlet-name>
		<url-pattern>/RumServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DbThreadServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.DbThreadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbThreadServlet</servlet-name>
		<url-pattern>/DbThreadServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DbConnThreadServlet</servlet-name>
		<servlet-class>com.nr.test.servlet.DbConnThreadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbConnThreadServlet</servlet-name>
		<url-pattern>/DbConnThreadServlet</url-pattern>
	</servlet-mapping>
	<env-entry>
		<env-entry-name>minExemptions</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>1</env-entry-value>
	</env-entry>
</web-app>
